header {
    height: 100px;
    background-color: black;
    
    div {
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        letter-spacing: 3px;
        padding-top: 20px;
        text-transform: uppercase;
    }
}
