main {
    
    .home_a {
        margin: 80px 100px;
        
        :hover {
            background-color: rgba(0,0,0, .9);
        }
    }
    
    .home_button {
        //height: 50px;
        width: 250px;
        font-size: 24px;
        padding: 15px;
        background-color: rgba(0,0,0, .7);
        color: white;
    }
    
    .cl_form {
        margin: 30px;
    }
    
    .cl_print {
        display: inline;
        margin: 20px;
        padding: 15px;
    }
    
    .sv_buttons {
        margin-left: 230px;
        
        .sv_btn {
            margin-top: 50px;
        }
    }
    
    span {
        margin-left: 30px;
    }
}
